<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="9">
      <ion-row>
        <ion-col>
          <h1>Política de Privacidade do Serviço</h1>
          <ion-text>
            <b>
              Atualizado em 13/05/2024
            </b>

            <p>
              Bem-vindo à Política de Privacidade do nosso serviço, onde a segurança e privacidade das informações dos
              nossos usuários são prioridades essenciais. Este documento delineia como coletamos, usamos, compartilhamos
              e protegemos as informações que você nos confia, demonstrando nosso compromisso com a transparência e
              segurança.
            </p>

            <p>
              Por favor, leia esta Política de Privacidade cuidadosamente para compreender nossas práticas de tratamento
              dos seus dados pessoais.
            </p>
            <p>
              Esta Política aplica-se a todos os indivíduos que interagem com nosso serviço. Explica como seus dados
              pessoais são coletados e utilizados por nós, informando também como você pode acessar e atualizar seus
              dados pessoais, além de exercer seus direitos em relação a eles.
            </p>
            <p>
              Esta Política abrange nossas atividades de coleta de dados online e offline, incluindo os dados pessoais
              coletados por meio de diversos canais, como websites, aplicativos, redes sociais de terceiros, pontos de
              contato com o cliente, pontos de venda e eventos. Destacamos que podemos agregar dados pessoais de
              diferentes fontes para aprimorar nossos serviços.
            </p>
            <p>
              Se você optar por não fornecer os dados pessoais necessários, poderemos ser incapazes de fornecer
              determinados produtos e/ou serviços.
            </p>
            <p>
              Esta Política pode ser alterada periodicamente, conforme informado ao final do documento.
            </p>
            <p>
              Esta Política fornece informações importantes sobre como tratamos seus dados pessoais, tais como:
            </p>

            <ul>
              <li class="ion-margin">
                <a href="#informacoes-coletadas">Informações Coletadas</a>
              </li>
              <li class="ion-margin">
                <a href="#uso-informacoes">Uso das Informações</a>
              </li>
              <li class="ion-margin">
                <a href="#compartilhamento-informacoes">Compartilhamento de Informações</a>
              </li>
              <li class="ion-margin">
                <a href="#seguranca-dados">Segurança de Dados</a>
              </li>
              <li class="ion-margin">
                <a href="#cookies">Cookies e Rastreamento</a>
              </li>
              <li class="ion-margin">
                <a href="#menor-idade">Menores de Idade</a>
              </li>
              <li class="ion-margin">
                <a href="#alteracoes">Alterações na Política de Privacidade</a>
              </li>
            </ul>

            <ol>
              <li>
                <h3 id="informacoes-coletadas">Informações Coletadas</h3>
                <p>
                  Compreendemos a importância da privacidade e da segurança das informações pessoais. Coletamos apenas
                  as informações essenciais necessárias para melhorar a experiência do usuário e fornecer nossos
                  serviços com eficácia. Isso pode incluir informações como nome, endereço, número de telefone e
                  endereço de e-mail.
                </p>
              </li>

              <li>
                <h3 id="uso-informacoes">Uso das Informações</h3>
                <p>
                  Utilizamos as informações coletadas para processar pedidos com precisão, personalizar experiências,
                  entender tendências e preferências dos usuários, além de fornecer comunicações relevantes sobre nossos
                  serviços e ofertas.
                </p>
              </li>

              <li>
                <h3 id="compartilhamento-informacoes">Compartilhamento de Informações</h3>
                <p>
                  Valorizamos a confiança dos nossos usuários e não compartilhamos informações pessoais com terceiros
                  para fins de marketing sem consentimento explícito. No entanto, em determinadas circunstâncias,
                  podemos compartilhar informações com parceiros de entrega ou conforme exigido por lei.
                </p>
              </li>

              <li>
                <h3 id="seguranca-dados">Segurança de Dados</h3>
                <p>
                  Implementamos medidas de segurança robustas para proteger as informações dos usuários contra acesso
                  não autorizado, uso indevido ou divulgação.
                </p>
              </li>

              <li>
                <h3 id="cookies">Cookies e Rastreamento</h3>
                <p>
                  Utilizamos cookies e tecnologias semelhantes para melhorar a funcionalidade e a personalização da
                  experiência do usuário. Você tem controle sobre suas preferências de cookies e pode ajustá-las nas
                  configurações do aplicativo ou dispositivo.
                </p>
              </li>

              <li>
                <h3 id="menor-idade">Menores de Idade</h3>
                <p>
                  Nosso serviço não é direcionado a menores de idade e não coletamos conscientemente informações
                  pessoais deles.
                </p>
              </li>

              <li>
                <h3 id="alteracoes">Alterações na Política de Privacidade</h3>
                <p>
                  Esta política pode ser atualizada periodicamente para refletir mudanças em nossas práticas de
                  privacidade. Recomendamos que você visite esta página regularmente para se manter informado sobre as
                  medidas que adotamos para proteger suas informações.
                </p>
                <p>
                  Agradecemos por escolher nosso serviço e estamos comprometidos em garantir uma experiência segura e
                  satisfatória. Se tiver perguntas ou preocupações sobre esta política ou o tratamento de suas
                  informações, entre em contato conosco pelos canais de comunicação disponibilizados.
                </p>
              </li>
            </ol>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>