<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
    <ion-col size="11" sizeMd="8">
      <ion-select color="dark" fill="outline" aria-label="Filtro" interface="popover" placeholder="Selecione o periodo"
        (ionChange)="filtrarSelecao($event)" interface="popover" [multiple]="true" [(ngModel)]="selectedOptions">
        <ion-select-option value="semana">Semana</ion-select-option>
        <ion-select-option value="mes">Mês</ion-select-option>
        <ion-select-option value="ano">Ano</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="this.filtrar['semana']"> 
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="11" sizeMd="8">
        <ion-label>Gráfico semanal</ion-label>
        <app-grafico-ar></app-grafico-ar>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="this.filtrar['mes']">

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="11" sizeMd="8">
      <ion-label>Gráfico mensal</ion-label>
      <app-grafico-ar-mes></app-grafico-ar-mes>
    </ion-col>
  </ion-row>
</ng-container>

<ng-container *ngIf="this.filtrar['ano']">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="11" sizeMd="8">
      <ion-label>Gráfico anual</ion-label>
      <app-grafico-ar-ano></app-grafico-ar-ano>
    </ion-col>
  </ion-row>
</ng-container>

  <!-- <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12" sizeMd="8">
      <ion-list [inset]="true">
        <ion-item>
          <ion-label> <b>Arduíno:</b> ESP-32; <b>Código: </b> 292</ion-label>
        </ion-item>

        <ion-item>
          <ion-label> <b>Data:</b> 23/02/21</ion-label>
        </ion-item>

        <ion-item>
          <ion-label> <b>Local:</b> Sorocaba</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row> -->
  <app-footer></app-footer>
</ion-content>