<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center ion-margin">
    <ion-col size="10">
      <ion-accordion-group [multiple]="true" [value]="['algoritimo_programacao']">
        <ion-accordion value="algoritimo_programacao">
          <ion-item slot="header" color="light">
            <ion-label>Algoritmo e Programação</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Algoritmo e Programação</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque sequi magnam odio aut nemo ratione, praesentium voluptatum provident fugit, delectus mollitia. Dolore delectus sed cupiditate, voluptas deleniti autem laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ducimus odio eius repellendus quod sit, minus, et delectus sunt sint dolorum provident nihil natus adipisci, deserunt corporis reprehenderit cumque! Eum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis placeat vero explicabo accusamus, alias harum totam molestias! Commodi, facere! Distinctio quis aspernatur pariatur praesentium illum doloremque ipsum aliquid officia tempora.
            
              </ion-card-content>
              
              <ion-card-content> 
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>              
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="desafios_engenharia">
          <ion-item slot="header" color="light">
            <ion-label>Engenharia: Técnologia e Desafios</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Engenharia: Técnologia e Desafios</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque sequi magnam odio aut nemo ratione, praesentium voluptatum provident fugit, delectus mollitia. Dolore delectus sed cupiditate, voluptas deleniti autem laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ducimus odio eius repellendus quod sit, minus, et delectus sunt sint dolorum provident nihil natus adipisci, deserunt corporis reprehenderit cumque! Eum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis placeat vero explicabo accusamus, alias harum totam molestias! Commodi, facere! Distinctio quis aspernatur pariatur praesentium illum doloremque ipsum aliquid officia tempora.
            
              </ion-card-content>
              
              <ion-card-content> 
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>              
            </ion-card>
          </div>        </ion-accordion>
        <ion-accordion value="fundamentos_prototipagem">
          <ion-item slot="header" color="light">
            <ion-label>Fundamentos de Prototipagem Digital</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Fundamentos de Prototipagem Digital</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque sequi magnam odio aut nemo ratione, praesentium voluptatum provident fugit, delectus mollitia. Dolore delectus sed cupiditate, voluptas deleniti autem laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ducimus odio eius repellendus quod sit, minus, et delectus sunt sint dolorum provident nihil natus adipisci, deserunt corporis reprehenderit cumque! Eum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis placeat vero explicabo accusamus, alias harum totam molestias! Commodi, facere! Distinctio quis aspernatur pariatur praesentium illum doloremque ipsum aliquid officia tempora.
            
              </ion-card-content>
              
              <ion-card-content> 
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>              
            </ion-card>
          </div>        </ion-accordion>
        <ion-accordion value="geometria_analitica">
          <ion-item slot="header" color="light">
            <ion-label>Geometria Analitica</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Geometria Analitica</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque sequi magnam odio aut nemo ratione, praesentium voluptatum provident fugit, delectus mollitia. Dolore delectus sed cupiditate, voluptas deleniti autem laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ducimus odio eius repellendus quod sit, minus, et delectus sunt sint dolorum provident nihil natus adipisci, deserunt corporis reprehenderit cumque! Eum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis placeat vero explicabo accusamus, alias harum totam molestias! Commodi, facere! Distinctio quis aspernatur pariatur praesentium illum doloremque ipsum aliquid officia tempora.
            
              </ion-card-content>
              
              <ion-card-content> 
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>              
            </ion-card>
          </div>        </ion-accordion>
        <ion-accordion value="representacoes_graficas">
          <ion-item slot="header" color="light">
            <ion-label>Representações Gráficas</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Representações Gráficas</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque sequi magnam odio aut nemo ratione, praesentium voluptatum provident fugit, delectus mollitia. Dolore delectus sed cupiditate, voluptas deleniti autem laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ducimus odio eius repellendus quod sit, minus, et delectus sunt sint dolorum provident nihil natus adipisci, deserunt corporis reprehenderit cumque! Eum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis placeat vero explicabo accusamus, alias harum totam molestias! Commodi, facere! Distinctio quis aspernatur pariatur praesentium illum doloremque ipsum aliquid officia tempora.
            
              </ion-card-content>
              
              <ion-card-content> 
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>              
            </ion-card>
          </div>        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</ion-content>
