<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center ion-margin">
    <ion-col size="12" sizeMd="10">
      <ion-accordion-group [multiple]="true" [value]="['algoritimo_programacao']">
        <ion-accordion value="algoritimo_programacao">
          <ion-item slot="header" color="light">
            <ion-label>Algoritmo e Programação</ion-label>
          </ion-item>
          <div slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Algoritmo e Programação</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Desenvolvimento de Algoritmos de Coleta e Análise de Dados, Integração com API e Desenvolvimento de
                Interface do Usuário:
                Neste tópico, concentra-se na concepção, implementação e otimização de algoritmos para coleta e análise
                eficiente de dados. Isso pode incluir a integração com APIs de diferentes fontes de dados para acessar
                informações externas. Além disso, o desenvolvimento de interfaces de usuário intuitivas e eficazes é
                essencial para a visualização e interação com os dados processados.
              </ion-card-content>

              <ion-card-content>
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="desafios_engenharia">
          <ion-item slot="header" color="light">
            <ion-label>Engenharia: Técnologia e Desafios</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Engenharia: Técnologia e Desafios</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Observações de Tendências e Buscas Metodológicas:
                Este tópico aborda a observação e análise das tendências tecnológicas atuais e emergentes, bem como os
                desafios enfrentados no campo da engenharia. Isso envolve a identificação de oportunidades de inovação,
                a avaliação de metodologias de resolução de problemas e a adaptação a um ambiente tecnológico em
                constante evolução.
              </ion-card-content>

              <ion-card-content>
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="fundamentos_prototipagem">
          <ion-item slot="header" color="light">
            <ion-label>Fundamentos de Prototipagem Digital</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Fundamentos de Prototipagem Digital</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Integração com Sistema Multiplataforma e Integração de Hardware e Software por meio do Arduino:
                Aqui, explora-se os princípios fundamentais da prototipagem digital, incluindo a integração de sistemas
                em várias plataformas e a conexão entre hardware e software. Isso pode envolver o uso de plataformas
                como Arduino para prototipagem rápida e a implementação de interfaces de usuário que interagem
                diretamente com dispositivos físicos.
              </ion-card-content>

              <ion-card-content>
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="geometria_analitica">
          <ion-item slot="header" color="light">
            <ion-label>Geometria Analitica</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Geometria Analitica</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Análise de Dados Espaciais e Visualização de Dados:
                Aqui, foca-se na aplicação da geometria analítica para analisar dados espaciais e representá-los
                visualmente. Isso pode incluir a utilização de técnicas de álgebra linear e geometria para manipular e
                interpretar dados tridimensionais, bem como a criação de visualizações gráficas para comunicar
                efetivamente insights derivados desses dados.
              </ion-card-content>

              <ion-card-content>
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="representacoes_graficas">
          <ion-item slot="header" color="light">
            <ion-label>Representações Gráficas</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Representações Gráficas</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Criação de Gráficos:
                Neste tópico, concentra-se na criação de representações visuais de dados por meio da concepção e
                desenvolvimento de gráficos e visualizações. Isso pode envolver a seleção de tipos de gráficos
                apropriados para diferentes conjuntos de dados, a customização de estilos e cores para melhorar a
                compreensão, e a utilização de técnicas de design para criar visualizações impactantes e informativas.
              </ion-card-content>

              <ion-card-content>
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="linguagens">
          <ion-item slot="header" color="light">
            <ion-label>Linguagens formais e autônomas</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Linguagens formais e autônomas</ion-card-title>
                <ion-card-subtitle>Professor:</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Modelagem de Dados e Comunicação:
                Aqui, explora-se a teoria dos autômatos e linguagens formais para modelar e descrever dados e processos
                de comunicação. Isso pode envolver a criação de gramáticas para representar estruturas de dados e a
                concepção de autômatos para processar e validar esses dados de acordo com regras específicas.
              </ion-card-content>

              <ion-card-content>
                <ion-card-subtitle>Tecnologias:</ion-card-subtitle>
                <ion-icon size="large" name="logo-angular"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
                <ion-icon size="large" name="logo-github"></ion-icon>
                <ion-icon size="large" name="logo-figma"></ion-icon>
                <ion-icon size="large" name="logo-html5"></ion-icon>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>