<ion-footer class="ion-no-border ion-padding">
  <ion-row class="permissoes ion-justify-content-center">
    <ion-label [routerLink]="['../privacidade']" routerDirection="back">Privacidade</ion-label>
    <ion-label [routerLink]="['../termos']" routerDirection="back">Termos</ion-label>
    <ion-label [routerLink]="['../cookies']" routerDirection="back">Cookies</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin-vertical">
    <ion-label>
      Desenvolvido por
      <a target="_blank" href="https://romuulogoncalves.github.io/portifolio/home">Rômulo da Silva Gonçalves</a>
    </ion-label>
  </ion-row>
</ion-footer>