ion-footer {
  background-color: #f5f4f4;
}

.permissoes {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  ion-label {
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
  }
}

a {
  color: #000;
}
