<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="9">
      <ion-row>
        <ion-col>
          <h1>Termos e Condições de Uso do Serviço</h1>
          <ion-text>
            <ol>
              <li>
                <h3 id="informacoes-coletadas">Aceitação dos Termos</h3>
                <p>
                  Ao acessar, cadastrar-se ou utilizar de qualquer forma este serviço, você concorda em
                  cumprir estes Termos e Condições. Caso discorde de algum aspecto, por favor, não utilize o serviço.
                </p>
              </li>

              <li>
                <h3 id="uso-informacoes">Uso Responsável</h3>
                <p>
                  Todo dado coletado é usado com a finalidade de aprimorar a experiência no serviço. As
                  informações pessoais são utilizadas para processar solicitações com precisão e garantir a satisfação
                  do usuário. Além disso, ao analisar dados agregados e
                  anônimos, buscamos entender tendências e preferências, permitindo-nos aperfeiçoar nossos serviços,
                  oferecer promoções direcionadas e melhorar continuamente.
                </p>
              </li>

              <li>
                <h3 id="compartilhamento-informacoes">Compartilhamento de Informações</h3>
                <p>
                  Quaisquer informações compartilhadas conosco são tratadas com cuidado e segurança. Não as
                  compartilharemos com terceiros sem o seu consentimento, exceto quando exigido por lei.
                </p>
              </li>

              <li>
                <h3 id="seguranca-dados">Segurança de Dados</h3>
                <p>
                  Empregamos medidas de segurança para proteger suas informações contra acesso não autorizado ou
                  divulgação. No entanto, não podemos garantir segurança absoluta na transmissão de dados pela internet.
                </p>
              </li>

              <li>
                <h3 id="cookies">Uso de Cookies</h3>
                <p>
                  Utilizamos cookies e tecnologias semelhantes para melhorar sua experiência no serviço, personalizar
                  conteúdo e anúncios, e analisar o tráfego. Ao continuar utilizando o serviço, você concorda com o uso
                  de cookies.
                </p>
              </li>

              <li>
                <h3 id="menor-idade">Menores de Idade</h3>
                <p>
                  Menores de idade devem obter permissão dos pais ou responsáveis antes de utilizar este serviço. Não
                  coletamos intencionalmente informações de menores sem o consentimento dos pais ou responsáveis.
                </p>
              </li>

              <li>
                <h3 id="alteracoes">Alterações nos Termos e Condições</h3>
                <p>
                  Estes Termos e Condições estão sujeitos a modificações. Ao continuar a utilizar este serviço após tais
                  modificações, você concorda com os novos termos e condições.
                </p>
              </li>

              <li>
                <h3 id="limitacao-responsabilidade">Limitação de Responsabilidade</h3>
                <p>
                  Não seremos responsáveis por quaisquer danos diretos, indiretos, incidentais, consequenciais ou
                  especiais decorrentes do uso ou incapacidade de uso deste serviço.
                </p>
              </li>

              <li>
                <h3 id="jurisdicao">Jurisdição</h3>
                <p>
                  Estes Termos e Condições são regidos pelas leis do país/região. Qualquer disputa relacionada a estes
                  termos estará sujeita à jurisdição exclusiva dos tribunais competentes nesse local.
                </p>
              </li>

              <li>
                <h3 id="contato">Contato</h3>
                <p>
                  Para quaisquer dúvidas, sugestões ou reclamações sobre estes Termos e Condições, entre em contato
                  conosco através dos canais disponibilizados.
                </p>
              </li>
            </ol>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>