<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center ion-align-items-center wallpaper">
    <ion-col size="12" sizeMd="6">
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-row>
            <ion-text class="text">
              Site foi criado como uma iniciativa de demostrar a qualidade do ar na região sorocabana, por conta de
              demostrar como o
              ambiente atual vem cada vez mais sendo detriorado, aproveite para navegar em nosso site para ver os
              gráficos e análises;
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-button size="large" [routerLink]="['../grafico']" routerDirection="back" color="dark">Analisar
              grafico</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="5">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <img src="../../../assets/img/atomo_home.png" alt="imagem_atomo">
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding ion-justify-content-center">
    <ion-label id="titulo__container__cards">SOBRE</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding">
    <ion-col size="12" sizeMd="3">
      <ion-card>
        <img alt="Imagem padrão" src="../../../assets/img/home/Gases.jpeg" />
        <ion-card-header>
          <ion-row class="ion-justify-content-center">
            <ion-card-title>Poluição do ar</ion-card-title>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <!-- texto -->
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button size="large" expand="block" fill="outline" color="dark">
                <a href="https://antigo.mma.gov.br/cidades-sustentaveis/qualidade-do-ar.html#:~:text=A%20polui%C3%A7%C3%A3o%20atmosf%C3%A9rica%20pode%20ser,seguran%C3%A7a%2C%20ao%20uso%20e%20gozo"  target="_blank">Acessar</a>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeMd="3">
      <ion-card>
        <img alt="Imagem padrão" src="../../../assets/img/home/Queimadas.jpeg" />
        <ion-card-header>
          <ion-row class="ion-justify-content-center">
            <ion-card-title>Queimadas</ion-card-title>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <!-- texto -->
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button size="large" expand="block" fill="outline" color="dark">
                <a href="https://www.inca.gov.br/sites/ufu.sti.inca.local/files/media/document/cartilha_poluicao_do_ar_web.pdf"  target="_blank">Acessar</a>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeMd="3">
      <ion-card>
        <img alt="Imagem padrão" src="../../../assets/img/home/Arvore.jpg" />
        <ion-card-header>
          <ion-row class="ion-justify-content-center">
            <ion-card-title>Fatos</ion-card-title>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <!-- texto -->
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button size="large" expand="block" fill="outline" color="dark">
                <a href="https://breathelife2030.org/pt/news/7-things-know-household-air-pollution/#:~:text=Todo%20ano%2C%20quase%204%20milh%C3%B5es,desenvolvimento%20para%20cozinhar%20e%20aquecer."  target="_blank">Acessar</a>
              </ion-button>            
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <app-footer></app-footer>
</ion-content>