<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center ion-align-items-center wallpaper">
    <ion-col size="12" sizeMd="6">
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-row>
            <ion-text class="text">
              Site foi criado como uma iniciativa de demostrar a qualidade do ar na região sorocabana, por conta de demostrar como o 
              ambiente atual vem cada vez mais sendo detriorado, aproveite para navegar em nosso site para ver os gráficos e análises;
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-button size="large" [routerLink]="['../grafico']" routerDirection="back" color="dark">Analisar grafico</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="5">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <img src="../../../assets/img/atomo_home.png" alt="imagem_atomo">
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding ion-justify-content-center">
    <ion-label>SOBRE</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding">
    <ion-col size="12" sizeMd="3">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-row class="ion-justify-content-center">
            <ion-card-title>Sustentabilidade</ion-card-title>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloremque, omnis, architecto sapiente
            debitis animi
            repellendus sed ullam aliquid iusto, eveniet esse amet quasi in. Pariatur soluta nulla magnam repellat!
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button size="large" expand="block" fill="outline" color="dark">Acessar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeMd="3">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-row class="ion-justify-content-center">
            <ion-card-title>Sustentabilidade</ion-card-title>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloremque, omnis, architecto sapiente
            debitis animi
            repellendus sed ullam aliquid iusto, eveniet esse amet quasi in. Pariatur soluta nulla magnam repellat!
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button size="large" expand="block" fill="outline" color="dark">Acessar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeMd="3">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-row class="ion-justify-content-center">
            <ion-card-title>Sustentabilidade</ion-card-title>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloremque, omnis, architecto sapiente
            debitis animi
            repellendus sed ullam aliquid iusto, eveniet esse amet quasi in. Pariatur soluta nulla magnam repellat!
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button size="large" expand="block" fill="outline" color="dark">Acessar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>