.wallpaper{    
    // background-image: url('../../../assets/img/background.jpg');
    // background-image: url('https://mcdn.wallpapersafari.com/medium/76/77/rN3Jcj.jpg');
    background-color: #D9E5F1;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh !important;
    ion-text{
        font-size: 2rem;
        margin-bottom: 20px;
    }
}