.wallpaper {
  background-image: url("../../../assets/img/conscientizacao-background.svg");
  height: 93vh;
  background-size: cover;
  background-repeat: no-repeat;

  ion-label {
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
  }
}

.texto{
  background-color: #f5f4f4;
}

h1 {
  font-size: 4rem;
}


p {
  font-size: 1.2rem;
  font-family: 'arial';
  line-height: 1.5rem;
  text-align: justify;
}