<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-align-items-center login">
    <ion-col size="10" sizeMd="8" sizeLg="5">
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-center ion-text-md-ion-justify-content-start">
          <h1 class="login__logo"><a class="login__link" routerLink="/">ATOMOX</a></h1>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col>
          <form #loginForm="ngForm" (ngSubmit)="this.login()">
            <ion-row class="input-container">
              <ion-input ngModel required name="email" helperText=" " label="Email" type="email"></ion-input>
              <ion-text class="erro" color="danger">erros e-mail</ion-text>
            </ion-row>
            <ion-row class="input-container">
              <ion-input ngModel required name="password" helperText=" " label="Senha" type="password"
                errorText="Deve ser maior que 8 caracteres" minlength="8"></ion-input>
              <ion-text class="erro" color="danger">erros senha</ion-text>
            </ion-row>
            <ion-text>
              <p class="login__esqueceu-senha">Não possui uma conta? <a routerLink="/cadastro">clique aqui</a></p>
            </ion-text>
            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="auto">
                <app-btn-loading btnNome="Entrar" [loading]="this.loading"
                  [disabled]="!this.loginForm.valid"></app-btn-loading>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
