<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-justify-content-center ion-align-items-center main">
    <ion-col size="10" sizeMd="8" sizeLg="5">
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-center ion-text-md-ion-justify-content-start">
          <h1 class="cadastro__logo"><a class="cadastro__link" routerLink="/">Adicionar arduíno</a></h1>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col>
          <form #cadastroForm="ngForm" (ngSubmit)="this.cadastrar()">
            <ion-row class="input-container">
              <ion-input ngModel name="nome" label="Nome:" label-placement="floating" errorText="Nome é obrigatório"
                type="text" fill="outline" required></ion-input>
              <!-- <ion-text class="erro" color="danger">erro</ion-text> -->
            </ion-row>

            <ion-row class="input-container">
              <ion-input ngModel name="localidade" label="Localidade:" label-placement="floating"
                errorText="Localidade é obrigatório" type="text" fill="outline" required></ion-input>
              <!-- <ion-text class="erro" color="danger">erro</ion-text> -->
            </ion-row>

            <ion-row class="input-container">
              <ion-input ngModel name="quantidadePortas" errorText="Quantidade de portas inválido"
                label="Quantidade de portas:" label-placement="floating" fill="outline" type="text" required></ion-input>
              <!-- <ion-text class="erro" color="danger">erro</ion-text> -->
            </ion-row>

            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="auto">
                <app-btn-loading btnNome="Cadastrar" [loading]="this.loading"
                  [disabled]="!this.cadastroForm.valid"></app-btn-loading>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>