ion-header{
    background-color: var(--ion-color-primary);
    ion-toolbar{
        padding: 10px 10px;
    }

    &.header__principal{

        ion-title{
            font-size: 2.5rem;
            font-size: 2.5rem;
            font-family: "Cherry Cream Soda", system-ui;
            font-weight: 500;
            font-style: normal;
        }
    }

}